/* bootstrap */
@import "bootstrap";
/* FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* CSS personale */
@import "./style.css";
/* Css Buttons Personali */
@import "./buttons.css";
/* Css Subscriptions */
@import "./subscriptions.css";
/* Nav CSS */
@import "./navbar.css";
/* header css */
@import "./header.css";
/* Footer CSS */
@import "./footer.css";
/* Card CSS */
@import "./card.css";