/* .CustomCard{
    width: 500px;
    min-height: 400px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5), -2px -2px 5px rgba(66, 66, 66, 0.8);

    
} */

.divButtonsCard{
    height: 200px;
    gap: 10px;
    margin-top: 10px;
}
.card-body img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.custom-card {
  background: white;
  border-radius: 18px;
  border: 2px solid #0f0f0f;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
              0 0 10px rgba(170, 255, 227, 0.5);
  transition: all 0.25s ease;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25),
              0 0 15px rgba(170, 255, 227, 0.7);
  cursor: pointer;
}