.text-Custom{
    color:aquamarine;
}
.footerText {
    color: aquamarine;                  
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Arial', sans-serif; 
    letter-spacing: 0.5px;
}
.footerText2{
   color: rgb(226, 230, 228);                  
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Arial', sans-serif; 
    letter-spacing: 0.5px; 
}
.customCopyright{
    
    background-color: rgba(0, 0, 0, 0.05);
}